<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<title>Shannon Calculator</title>
<style>
    .footer-editado{
        margin-top: 100px;
    }
    .margin-alterada{
        margin-bottom: 500px;
        margin-top: 100px
    }
</style>
</head>
<body>
    <!--A div abaixo ficará fixa em todas as páginas-->
    <div class="container border border-dark text-center mt-3 "><h1>SHANNON CALCULATOR</h1></div>
    <!--Fim do Shannon Calculator-->
    <div class ='container text-center border-bottom  mt-3'>
    <nav class="navbar navbar-expand bg-body-tertiary">
        <div class="container-fluid">

          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="paraqueserve.html">Para que serve ?</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="indice_calculator.html">Calcular Indice</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-disabled="true">Comparar comunidades</a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
    </div>
    <!--Inicio das colunas do conteudo da página-->
    <div class="container text-center margin-alterada">
        <span class ='fs-2'>Digite os números das espécies</span>
        <div class="row mt-5">
            <div class="col-12">
                
                <form action=".">
                    <span class ='fs-3'>Espécie 1 </span>
                    <input type="number" class ='form-control-sm mt-2'><br><br>
                    <span class ='fs-3'>Especie 2 </span>
                    <input type="number" class ='form-control-sm mt-2'><br><br>
                    <span class ='fs-3'>Especie 3 </span>
                    <input type="number" class ='form-control-sm mt-2'><br><br>
                    <span class ='fs-3'>Especie 4 </span>
                    <input type="number" class ='form-control-sm mt-2'><br><br>
                    <span class ='fs-3'>Especie 5 </span>
                    <input type="number" class ='form-control-sm mt-2'><br><br>
                    <span class ='fs-3'>Especie 6 </span>
                    <input type="number" class ='form-control-sm mt-2'><br><br>
                    <span class ='fs-3'>Especie 7 </span>
                    <input type="number" class ='form-control-sm mt-2'><br><br>
                    <button type="submit" class ='btn btn-primary'>OK</button>

                </form>
            </div>
        </div>
    </div>

    <!--Inicio do footer-->
    <div class ='container'>
    <footer class="footer border border-dark text-dark mb-1 p-3 footer-editado">
        <div class="container">
          <p class="mb-0">Todos os direitos reservados &copy; 2024</p>
          <p>By: Felipe Fernandes</p>
        </div>
      </footer>
    </div>
    
</body>
</html>