{% extends "base.html" %}
{% block title %} Detalhes{% endblock title %} 
{% block conteudo %}

<div class ='container mt-5'>
    <h1>Escolha uma comunidade</h1>
    <form action ='#'> 
    <select class="form-select w-50" name ='numeros' aria-label="Default select example">
        <option selected>Selecione uma comunidade</option>
        {% for comunidade in comunidades %}
        <option value="{{comunidade.id}}">{{comunidade}}</option>
        {% endfor %}
      </select>
      <button class ='btn btn-dark mt-3'>Ok</button>
    </form>
</div>
{% if dados %}
<div class ='container mt-5' style ='margin-bottom:300px'>
  <div class ='row'>
    <div class ='col-12 col-lg-4'>
      <ul>
        <h2>Numeros Pi</h2>
        {% for dado in dados %}
        {% for numero_pi in dado.pi.all %}
        <li class ='border-bottom border-dark'>
          {{numero_pi}}
        </li>
        {% endfor %}
        {% endfor %}
      </ul>

    </div>
    <hr>
    <div class ='col-12 col-lg-4 '>  <ul>
      <h2>Numeros LogPi</h2>
      {% for dado in dados %}
      {% for numero_logpi in dado.logpi.all %}
      <li class ='border-bottom border-dark'>
        {{numero_logpi}}
      </li>
      {% endfor %}
      {% endfor %}
    </ul></div>
    <hr>
    <div class ='col-12 col-lg-4'>  <ul>
      <h2>Numeros Multiplicação Pi</h2>
      {% for dado in dados %}
      {% for multipi in dado.multipi.all %}
      <li class ='border-bottom border-dark'>
        {{multipi}}
      </li>
      {% endfor %}
      {% endfor %}
    </ul></div>
  </div>
  <div class ='container fs-2'>
    Resultado: H' {% for dado in dados %}
    
    <span class ='text-primary bg-white rounded'>{{dado.resultado}}</span>
    {% endfor %}
  </div>

</div>
{% else %}
<h1 class ='container' style ='margin-bottom: 450px'>Escolha uma comunidade para ver o seu detalhe</h1>
{% endif %}

{% endblock conteudo %}





