{% extends "base.html" %}
    
    
    {% block title %}Digite espécies{% endblock title %}

    {% block conteudo %}
    
    <div class="container text-center margin-alterada">
      <span class ='fs-2'>Digite os números das espécies</span>
      <div class="row mt-5">
          <div class="col-12">
              
              <form action=".">
                  <span class ='fs-3'>Espécie 1 </span>
                  <input type="number" class ='form-control-sm mt-2'><br><br>
                  <button type="submit" class ='btn btn-primary'>OK</button>

              </form>
          </div>
      </div>
  </div>
    
    {% endblock conteudo %}
    