{% extends "base.html" %}

    {% block title %}Calcular{% endblock title %}Calcular
    {% block conteudo %}
    <div class="container text-center" style ='margin-bottom: 400px; margin-top:150px'>
      <div class="row">
          <div class="col-12">
              <form action=".">
                  <span class ='fs-3'>Digite a riqueza da comunidade </span><br>
                  <input type="number" class ='form-control-sm mt-2'><br><br>
                  <button type="submit" class ='btn btn-primary'>OK</button>

              </form>
          </div>
      </div>
  </div>
    {% endblock conteudo %}
    
