
{% extends "base.html" %}
{% load static %}
    <!--Inicio das colunas do conteudo da página-->
    {% block title %}Para que serve ?{% endblock title %}
    {% block conteudo %}
    <div class="container" style ='margin-bottom: 170px'>
        <div class="row">
            <div class="col-12 text-center my-5 fs-1">Para que serve?</div>
            <div class="col-12 text-center">O Índice de Shannon-Wiener, também conhecido como Índice de Diversidade de Shannon 
                ou Índice de Entropia de Shannon, é uma medida numérica da diversidade biológica em uma determinada área ou ecossistema. 
                Ele leva em consideração tanto a riqueza de espécies (número total de espécies presentes) quanto a uniformidade das abundâncias dessas espécies.
               <p><strong>Em sua forma matemática, o Índice de Shannon-Wiener é calculado usando a seguinte fórmula:</p></strong></div>
            <div class="col-12 text-center mt-5"><img src="{% static "interface/img/shannonwiener.png" %}" alt="Indice de Shannon" class ='w-25 rounded'></div>
            <div class="col-12  mt-5">Onde:
                <ul>
                    <li><strong>H' é o indice de Shannon-Wiener,</strong></li>
                    <li><strong>Pi é a proporção de indivíduos da espécie  i em relação ao total de indivíduos,</strong></li>
                    <li><strong>s é o número total de espécies presente no ecossistema.</strong></li>
                </ul>
                O Índice de Shannon-Wiener fornece uma medida da incerteza associada à previsão da identidade da próxima 
                espécie encontrada em uma amostra. Quanto maior o valor do índice, maior a diversidade no ecossistema.

                Esse índice é amplamente utilizado em estudos ecológicos e na gestão de recursos naturais para avaliar 
                a biodiversidade, comparar a diversidade entre diferentes áreas ou ao longo do tempo, e entender como 
                as mudanças ambientais afetam a diversidade de espécies em um ecossistema. Ele também é usado em outras 
                áreas, como na análise de dados genéticos e na avaliação da diversidade cultural.
            </div>
        </div>
    </div>

    {% endblock conteudo %}